{% extends 'base.html.twig' %}

{% block menu %}
    <ul class="menu">
        <li><a href="{{ path('movie_list') }}">Home</a></li>
        <li><a href="{{ path('logout') }}">Logout</a></li>
    </ul>
{% endblock %}
{% block body %}{% endblock %}
